.glyphicon-search {
    font-size: 35px;
    cursor: pointer;
}

.glyphicon-user {
  font-size: 30px;
  cursor: pointer;
  margin-right: 20px;
}

.glyphicon-plus {
  font-size: 30px;
  cursor: pointer;
}

.glyphicon-star {
  color: goldenrod;
}

.top-buffer { margin-top:20px; }

.book-preview_title {
    min-height: 60px;
    text-transform: uppercase;
}

.search-filter_extended {
  //padding-right: 90px;
  text-align: right;
  text-decoration: underline;
  cursor: pointer;
}

#topLogo {
  margin-left: 20px;
  width: 200px;
  padding-top: 10px;
}

#liMyLibrary {
  background-color: #201600;
}

#liMyLibrary a {
  color: white;
  font-weight: bold;
  display: block;
  line-height:35px;
}

#firstBlock {
    background-image: url("../img/firstBlock.png");
}
#secondBlock {
    background-image: url("../img/secondBlock.png");
}
#thirdBlock {
    background-image: url("../img/firstBlock.png");
    padding: 0;

}
#fourthBlock {
    background-image: url("../img/secondBlock.png");
}
.block {
    height: 100vh;
    background-color: #083452;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#logo {
    width: 100%;
}
#loginBlock {
    width: 100%;
    border-radius: 0;
    border: 2px solid #201600;
    vertical-align: middle;
    display: inline-block;
}
.customInput {
    border-radius: 0;
    background: white;
    background-color: white;
    color: #201600;
    border: 2px solid #201600;
}
.customButton {
    border-radius: 0;
    background: white;
    background-color: white;
    color: #201600;
    border: 2px solid #201600;
    border-bottom: 5px solid #201600;
    border-right: 5px solid #201600;
}
.customButton:hover {
    border-radius: 0;
    background: #cccccc;
    background-color: #cccccc;
    color: #201600;
    /*border: 2px solid #201600;*/
    border-bottom: 5px solid #201600;
    border-right: 5px solid #201600;
}

.customButton:focus {
    border-radius: 0;
    background: #201600;
    background-color: #201600;
    color: white;
    border: 2px solid #201600;
    /*border-bottom: 5px solid #201600;*/
    /*border-right: 5px solid #201600;*/
}
.customButton:active {
    border-radius: 0;
    background: #201600 !important;
    box-shadow: none !important;
    background-color: #201600 !important;
    color: white;
    border: 2px solid #201600 !important;
    /*border-bottom: 5px solid #201600;*/
    /*border-right: 5px solid #201600;*/
}
.customButton:visited {
    border-radius: 0;
    background: #201600;
    background-color: #201600;
    color: white;
    border: 2px solid #201600;
    /*border-bottom: 5px solid #201600;*/
    /*border-right: 5px solid #201600;*/
}

.customButton_tag-cloud{
  span{
    font-size:14px;
  }
}

.customLabel {
    color: #201600;
    font-size: 18pt;
    padding-bottom: -25px;
    margin-bottom: 0px;
}
.tagButton {
    border-radius: 0;
    border: 2px solid #201600;
    color: #201600;
    font-size: 14pt;
    background-color: white;
    background: white;
    margin: 2px;
}

.tag-cloud-list{
  margin: 15px 0;
}

.tagButton:hover {
    border-radius: 0;
    background: #cccccc;
    background-color: #cccccc;
    color: #201600;
    border: 2px solid #201600;
    /*border-bottom: 5px solid #201600;*/
    /*border-right: 5px solid #201600;*/
}

.tagButton:focus {
    border-radius: 0;
    background: #201600;
    background-color: #201600;
    color: white;
    border: 2px solid #201600;
    /*border-bottom: 5px solid #201600;*/
    /*border-right: 5px solid #201600;*/
}
.tagButton:active {
    border-radius: 0;
    background: #201600 !important;
    box-shadow: none !important;
    background-color: #201600 !important;
    color: white !important;
    border: 2px solid #201600 !important;
    text-shadow: none;
    /*border-bottom: 5px solid #201600;*/
    /*border-right: 5px solid #201600;*/
}
.tagButton:visited {
    border-radius: 0;
    background: #201600;
    background-color: #201600;
    color: white;
    border: 2px solid #201600;
    /*border-bottom: 5px solid #201600;*/
    /*border-right: 5px solid #201600;*/
}
.tagButtonAdd {
    background: #201600;
    color: white;
    box-shadow: none;
    text-shadow: none;
}
.tagNotAdded{
    display: none;
}
.customNavBar {
    border-radius: 0;
    background: white;
}
.customBorderForPreview {
    border-radius: 0;
    border: 2px solid #201600;
    padding-top: 15px;
    padding-bottom: 15px;
}

.customLabelAdd {
    color: #201600;
    font-size: 16pt;
    /*padding-bottom: -25px;*/
    margin-bottom: 10px;
    padding-top: 3px !important;
}
#reviewStars-input input:checked ~ label, #reviewStars-input label, #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
    background: url('../img/stars.png') no-repeat;
}

#reviewStars-input {

    /*fix floating problems*/
    overflow: hidden;
    *zoom: 1;
    /*end of fix floating problems*/

    position: relative;
    float: left;
}

#reviewStars-input input {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;

    width: 43px;
    height: 40px;

    position: absolute;
    top: 0;
    z-index: 0;
}

#reviewStars-input input:checked ~ label {
    background-position: 0 -40px;
    height: 40px;
    width: 43px;
}

#reviewStars-input label {
    background-position: 0 0;
    height: 40px;
    width: 43px;
    float: right;
    cursor: pointer;
    margin-right: 10px;

    position: relative;
    z-index: 1;
}

#reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
    background-position: 0 -40px;
    height: 40px;
    width: 43px;
}

#reviewStars-input #star-0 {
    left: 0px;
}
#reviewStars-input #star-1 {
    left: 53px;
}
#reviewStars-input #star-2 {
    left: 106px;
}
#reviewStars-input #star-3 {
    left: 159px;
}
#reviewStars-input #star-4 {
    left: 212px;
}
#reviewStars-input #star-5 {
    left: 265px;
}
