.glyphicon-search {
    font-size: 35px;
    cursor: pointer;
}

.glyphicon-user {
  font-size: 30px;
  cursor: pointer;
  margin-right: 20px;
}

.glyphicon-plus {
  font-size: 30px;
  cursor: pointer;
}

.top-buffer { margin-top:20px; }

.book-preview_title { min-height: 60px; }

#topLogo {
  margin-left: 20px;
}

#liMyLibrary {
  background-color: #201600;
}

#liMyLibrary a {
  color: white;
  font-weight: bold;
  display: block;
  line-height:35px;
}
